@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using tuvantuyensinhsv.v2.Models;
@{
    var currentUser = new ApplicationUser();
    if (User.Identity.IsAuthenticated)
    {
        var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
        var manager = new UserManager<ApplicationUser>(userStore);
        currentUser = manager.FindById(User.Identity.GetUserId());
    }
}

<header class="main-header">
    <!-- Logo -->
    <a href="/Home" class="logo">Project H</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-custom-menu">
            <div class="col-md-1">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </div>
            <div class="col-md-8">
                <div class="input-group" style="margin-top:8px">
                    <input type="@ViewBag.Key" id="Search_Input" autocomplete="off" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button onclick="Layout_SearchButtonClick()" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <ul class="nav navbar-nav navbar-right">
                    <!-- User Account: style can be found in dropdown.less -->
                    @if (Request.IsAuthenticated)
                    {
                        @*<li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@currentUser.profile_avatar_link" class="user-image" alt="User Image">
                                <span class="hidden-xs">@currentUser.hoTen</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@currentUser.profile_avatar_link" class="img-circle" alt="User Image">
                                    <p>
                                        @currentUser.hoTen
                                        <small>@User.Identity.AuthenticationType</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                @*<li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/Manage/Index" class="btn btn-default btn-flat">Profile</a>
                                    </div>

                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div>
                                            <a href="/Admin/Index"><i class="fa fa-user fa-fw"></i> Quản lý</a>
                                        </div>
                                    }

                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a class="btn btn-default btn-flat" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
                                        }
                                    </div>
                                </li>
                            </ul>
                        </li>*@

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="/Manage/Index"><i class="fa fa-user fa-fw"></i> @User.Identity.GetUserName()</a>
                                </li>


                                <li>

                                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>

                                </li>
                            </ul>
                            <!-- /.dropdown-user -->

                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="/Account/Login"><i class="fa fa-user fa-fw"></i> Đăng nhập</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <a href="/Account/Register"><i class="fa fa-plus fa-fw"></i> Đăng ký</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>