@model tuvantuyensinhsv.v2.Models.BaiViet

@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/js/facebook_comment.js"></script>

<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title"><b>@Model.TieuDe</b></h2>
        <div class="box-tools pull-right">
            <button class="btn btn-danger btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-danger btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <hr />
    <div class="box-body">
        @Html.Raw(Model.NoiDung)
    </div><!-- /.box-body -->

    <div class="box-footer">    
            @Html.Partial("_ThongTinBaiViet") 
    </div>

    <div class="box-footer">
        @Html.Partial("_RatePost_Social", Model)
    </div>

    <div class="box-footer">
        <p>Danh sách tags</p>
        @Html.Partial("~/views/tabengineserver/_viewtags.cshtml")
    </div>

    @if (User.Identity.Name == Model.AspNetUser.UserName)
    {
        <div class="box-footer">
            @Html.Partial("_UserPostControl")
        </div>
    }

    @if (User.IsInRole("Moderate") || User.IsInRole("Admin"))
    {
        <div class="box-footer">
            @Html.Partial("_AdminControlPost", Model)
        </div>
    }
</div>

<div class="box box-danger">
    <div class="box-header">
        <h2 class="box-title"><b>Bình luận</b></h2>
        <div class="box-tools pull-right">
            <button class="btn btn-danger btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn btn-danger btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body" id="fb-root">
    </div>
</div>


