@model tuvantuyensinhsv.v2.Models.BaiViet

@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_Layout.v2.cshtml";
}
<script src="~/Content/js/facebook_comment.js"></script>

<div class="row">
    <section>
        <div class="col-md-7 col-md-offset-1">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black my-baiviet-background-image" style="background-image: url('@Model.linkImage'); ">
                    <h3 class="widget-user-username"><b>@Model.TieuDe</b></h3>
                    <h5 class="widget-user-desc">@Model.NgayCapNhat</h5>
                </div>

                <div class="box-body">
                    @Html.Raw(Model.NoiDung)
                </div>

                <div class="box-footer" style="padding-top:0px;">
                    @Html.Partial("_ThongTinBaiViet")
                </div>

                @if (User.Identity.Name == Model.AspNetUser.UserName)
                {
                    <div class="box-footer">
                        @Html.Partial("_UserPostControl")
                    </div>
                }

                @if (User.IsInRole("Moderate") || User.IsInRole("Admin"))
                {
                    <div class="box-footer">
                        @Html.Partial("_AdminControlPost", Model)
                    </div>
                }
            </div>

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Bình luận</b></h3>
                </div>
                <div class="box-body" id="fb-root">
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Chia sẻ</h3>
                </div>
                <div class="box-body">
                    @Html.Partial("_RatePost_Social", Model)
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tag</h3>
                </div>
                <div class="box-body">
                    @Html.Partial("~/views/tabengineserver/_viewtags.cshtml")
                </div>
            </div>
        </div>
    </section>
</div>
